# Testing
pytest==4.5.0
pytest-cov==2.7.1

# Typing
mypy==0.730

# Linting
pylint==2.3.1
pycodestyle==2.5.0
flake8==3.7.7
pep8-naming==0.8.2

# Pandas
# numpy==1.16.3
pandas==0.25.0

# Postgres
psycopg2-binary==2.8.3

# Others
joblib==0.13.2
SQLAlchemy==1.3.5
tqdm==4.32.2
dnspython==2.0.0

# Git
GitPython==3.0.3

# Excel
xlrd==1.2.0

pandas-schema==0.3.4

# JSON Schema
jsonschema==3.0.1

# Datadog
datadog==0.36.0

# Excel for pandas
openpyxl==3.0.3
